body {
  background-image: url("/media/trollface.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: right bottom;
}

table.programs {

}

table.programs th.program-state-header {
  width: 8em;
}
