body {
  background-image: url("/media/trollface.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: right bottom;
}

table.programs {

}

table.programs th.program-state-header {
  width: 8em;
}

table.programs tr.happy {
  background-color: #E8FFE9;
}

table.programs tr.sad {
  background-color: #FFE8E8;
}

pre.stdout, pre.stderr {
  //border: 1px solid grey;
  //margin: 0.4em;
  //padding: 0.4em;
  //width: 90%;
  //height: 15em;
  //overflow: auto;
}
