!!! 5
html(lang="en")
  head
    title procnanny
    link(rel="stylesheet", type="text/css", href="/css/style.css")
    script(src="/js/jquery-1.6.1.min.js")
    script(src="/socket.io/socket.io.js")
    script(src="/js/procnanny.js")
  body
    #content!= body


